function div 2
    push constant 0
    pop local 0
    push argument 0
    pop local 1 

label loop_1 
    push local 1 
    push argument 1
    lt
    if-goto end_d
        push local 0
        push constant 1 
        add
        pop local 0
        push local 1
        push argument 1
        sub
        pop local 1
        goto loop_1

label end_d
    push local 0
    return



function mod 2
    push constant 0
    pop local 0
    push argument 0
    pop local 1 

label loop_2 
    push local 1 
    push argument 1
    lt
    if-goto end_m
        push local 0
        push constant 1 
        add
        pop local 0
        push local 1
        push argument 1
        sub
        pop local 1
        goto loop_2

label end_m
    push local 1
    return